{sub_dirs, [
            "rel"
           ]}.

{erl_opts, [debug_info]}. %, fail_on_warning]}.

{deps_dir, ["deps"]}.

{deps,
 [
  {cowboy, ".*",
   {git, "https://github.com/extend/cowboy.git", {branch, "master"}}},
  {mimetypes, ".*",
   {git, "https://github.com/spawngrid/mimetypes.git", {branch, "master"}}}
 ]
}.
