{sub_dirs, [
            "rel"
           ]}.

{erl_opts, [debug_info, {parse_transform, lager_transform}]}. %, fail_on_warning]}.

{deps_dir, ["deps"]}.

{deps,
 [
  {cowboy, ".*",
   {git, "https://github.com/extend/cowboy.git", {branch, "master"}}},
  {lager, ".*",
    {git, "https://github.com/basho/lager.git", {branch, "master"}}},
  {mimetypes, ".*",
   {git, "https://github.com/spawngrid/mimetypes.git", {branch, "master"}}}
 ]
}.
